
*{
    font-family: 'Poppins',sans-serif;
    scroll-behavior: smooth;
    scrollbar-color: #279BE4;
    
}
html, body {
    font-family: 'poppins', sans-serif;
    height: 100%;
  }
  body {
    background: #202020;
    height: 100%;
  }
  .sidebar1 {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #202020;
    position: fixed;
    height: 100%;
    overflow: auto;
   
    box-shadow: 0px 0 15px rgba(55, 55, 55, 0.5);
  }
  
  /* Sidebar links */
  .sidebar1 a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
  }
  
  /* Active/current link */
  .sidebar1 a.active {
    background-color: #b6b6f0;
    color: black;
  }
  
  /* Links on mouse-over */
  .nav:hover:not(.active) {
    background-color: #555;
    color: white;
    transition: 0.4s;
  }
  .person{
    background-color:#0d0d59 ;
    border-radius: 10px;
  }
  .log_out{
    color: red;
  }
  
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  /* On screens that are less than 700px wide, make the sidebar into a topbar */
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }
  
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 40px;
}

.SOL_card {
  max-width: 600px;
  background-color: #202020;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  overflow: hidden;
  color: white;
  transition: transform 0.3s;
  width: calc(50% - 20px);
  margin-bottom: 20px;
  padding: 20px;
  box-sizing: border-box;
  align-items: center;
  text-align: center;
}



.SOL_card:hover {
  transform: translateY(-5px);
}



@media (max-width: 860px) {
  .SOL_card {
      width: calc(50% - 20px); 
      
  }

 
}


@media (max-width: 615px) {
  .SOL_card {
      width: calc(50% + 60px);
  }


  .card-container {
      justify-content: center;
  }}
  footer{
    background-color: #0d0d59;
    color: white;
    padding: 20px;
  }